<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manebenefits">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ManeBenefits"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Categories"
            android:label="ManeBenefits">
        </activity>
        <activity
            android:name=".DisplayRestaurants"
            android:label="ManeBenefits">
        </activity>
        <activity
            android:name=".DisplayApparel"
            android:label="ManeBenefits">
        </activity>
        <activity
            android:name=".DisplayServices"
            android:label="ManeBenefits">
        </activity>
        <activity
            android:name=".DisplayActivities"
            android:label="ManeBenefits">
        </activity>
        <activity
            android:name=".DisplayHealthcare"
            android:label="ManeBenefits">
        </activity>
        <activity
            android:name=".DisplayRentals"
            android:label="ManeBenefits">
        </activity>
    </application>

</manifest>